<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 class="header-h1">Форма редактирования</h1>

    <form class="edit-form" th:action="@{'/admin/{repoCode}/{id}' (repoCode = ${repoCode}, id = ${repoItem.hashCode})}"
          th:method="post">
        <th:block th:each="fieldName: ${fieldNames}">
            <div>
                <label class="name-field" th:for="${fieldName}"><span th:text="${fieldName}"></span></label>
                <input th:id="${fieldName}" th:name="strings" th:value="${repoItem.__${fieldName}__}" type="text">
            </div>
        </th:block>
        <button class="button-1" type="submit">Сохранить</button>
    </form>
</main>
</body>
</html>