<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 class="header-h1">Error Page</h1>

    <table class="table-error">
        <tr>
            <td>Date</td>
            <td th:text="${date}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td class="error" th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
    </table>
</main>
</body>
</html>