<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 class="header-h1">Список доступных репозиториев</h1>

    <ol class="list-repos">
        <a th:each="repo : ${repos}" th:href="@{/admin/{repoCode}(repoCode = ${repo})}">
            <li><span th:text="${repo}"></span></li>
        </a>
    </ol>
</main>
</body>
</html>