<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 class="header-h1">Данные из репозитория <span th:text="${repoCode}"></span></h1>

    <table class="table-1">
        <thead>
        <tr>
            <th th:each="header: ${headers}" th:text="${header}"/>
            <th>Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr id="tablerow" th:each="row: ${rows}">
            <td th:each="header: ${headers}" th:text="${row.__${header}__}"></td>
            <td style="text-align:center;" th:if="${rows.totalPages > 0}">
                <form th:action="@{'/admin/{repoCode}/{id}'(repoCode = ${repoCode}, id = ${row.__${headers[0]}__})}"
                      th:method="get">
                    <div>
                        <button class="button-1" type="submit">Редактировать</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>

    </table>

    <div class="pagination" th:if="${rows.totalPages > 0}">
        <a th:href="@{/admin/{repoCode}(repoCode = ${repoCode}, size=15, page=${(page > 1 && page <= rows.totalPages) ? (page - 1) : 1})}">
            <button class="button-1">Предыдущая страница</button>
        </a>
        <a th:href="@{/admin/{repoCode}(repoCode = ${repoCode}, size=15, page=${(page < rows.totalPages) ? (page + 1) : 1})}">
            <button class="button-1">Следующая страница</button>
        </a>
    </div>
</main>
</body>
</html>