<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админка</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <h1 class="header-h1">Данные из репозитория <span th:text="${repoCode}"></span></h1>

    <table class="table-1">
        <thead>
        <tr>
            <th th:each="fieldName: ${fieldNames}" th:text="${fieldName}"/>
            <th>Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="repoItem: ${repoItems}">
            <td th:each="fieldName: ${fieldNames}" th:text="${repoItem.__${fieldName}__}"></td>
            <td style="text-align:center;" th:if="${totalPages > 0}">
                <a th:href="@{/admin/{repoCode}/{id}(id=${repoItem.hashCode}, repoCode = ${repoCode}, size=15, page=1)}">
                    <button class="button-1">Редактировать</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

    <div class="pagination" th:if="${totalPages > 0}">
        <a th:href="@{/admin/{repoCode}(repoCode = ${repoCode}, size=15, page=${(page > 1 && page <= totalPages) ? (page - 1) : 1})}">
            <button class="button-1">Предыдущая страница</button>
        </a>
        <a th:href="@{/admin/{repoCode}(repoCode = ${repoCode}, size=15, page=${(page < totalPages) ? (page + 1) : 1})}">
            <button class="button-1">Следующая страница</button>
        </a>
    </div>
</main>
</body>
</html>